#home{
    background-image: url("https://bit.ly/2PHsj6k");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}
.nav{
    color: brown;

}
nav ul li{
    display: inline;
    padding-left: 30px;
}
nav ul{
    text-align: center;
}
.nav{
    border: 2px 2px transparent;
    box-shadow: 3px 3px 5px white;
}
h2{
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 40px;
    padding-top: 50px;
}
#about{
    text-align: center;
    font-size: 30px;
    background-color:lightsalmon;
}
h3{
    font-size: 35px;
    color: white; 
}
