#home{
    background-image: url("https://bit.ly/2PHsj6k");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}
.nav{
    color: brown;

}
nav ul li{
    display: inline;
    padding-left: 30px;
}
nav ul{
    text-align: center;
}
