#home{
    background-image: url("https://bit.ly/2PHsj6k");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}
.nav{
    color: brown;
    position: fixed;
    width: 100%;

}
nav ul li{
    display: inline;
    padding-left: 30px;
}
nav ul{
    text-align: center;
}
.nav{
    border: 2px 2px transparent;
    box-shadow: 3px 3px 5px black;
}
h2{
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 40px;
    padding-top: 50px;
}

h3{
    font-size: 35px;
    color: white; 
}
p{
    font-size: 30px;
    color: brown;
}
#menu{
    background-image: url("https://bit.ly/2PJEaki");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    /* flex-wrap: wrap; */
}
#order{
    background-color:lightsalmon;
}
